{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书音</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/personal.css' %}">
</head>
<body>
<div id="container">
<br>
    <div class="pic" style="float:left;height: 600px">
        <img src="{%  static 'img/login.png' %}" width=150px height=150px>
    </div>
    <div class="content" style="float: left">
        <form action="personal" method="post">
            {% csrf_token %}
            <div>用 户 名 : <input type="text" name="username" value="{{ user.username}}"  size="20" style="height:20px;" /></div>
            <div>个性签名: <input type="text" name="personalsignature" value="{{ user.personalsignature }}"  size="20" style="height:20px;" /></div>

           <button id="submit">确定修改</button>
        <br>
            <div>已发布配音作品: </div>
                <table border="2" style="width: 500px">
                        <tr>
                            <th>书名</th>
                            <th>章节名</th>
                        </tr>
                    {% for p in publish %}
                    <tr style="height: 30px">
                        <td>{{p.chapterid.bookid.bookname}}</td>
                        <td>{{ p.chapterid.cname }}</td>
                    <td><a href="deleteAudio?aid={{ p.id }}">删除</a> </td>
                    </tr>

                    {% endfor %}
                </table>
            <div>点赞的阅读作品:</div>
            <div>
                <table border="2" style="width: 500px">
                        <tr>
                            <th>书名</th>
                            <th>章节名</th>
                        </tr>
                    {% for c in chapter %}
                    <tr style="height: 30px">
                        <td>{{ c.chapterid.bookid.bookname}}</td>
                        <td>{{ c.chapterid.cname }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>点赞的配音作品</div>
            <div>
                <table border="2" style="width: 500px">
                        <tr>
                            <th>书名</th>
                            <th>章节名</th>
                        </tr>
                    {% for a in audio %}
                    <tr style="height: 30px">
                        <td>{{ a.worksid.chapterid.bookid.bookname }}</td>
                        <td>{{ a.worksid.chapterid.cname }}</td>
                    </tr>
                    {% endfor %}
                    </table>
            </div>


    </form>
        <div><a href="login">退出登录</a></div>
    </div>
    <div style="float: right;margin-right: 500px">
        <a href="main"><h1>返回</h1></a>
    </div>
</div>
</body>
</html>