{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>书音</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/main.css' %}">
</head>
<body>
<div class="mainall" style="float:left;">
    <div style="float: right;margin-left: 200px">
        <a href="main"><h1>返回</h1></a>
    </div>
    <div  style="float: right;margin-left: 1000px">
        <a href="personal"><img src="{%  static 'img/login.png' %}"> </a>
    </div>

    <div id="container" name="content" style="height: 600px ;margin-top: 100px">
        <table border="2" style="width: 500px;float: left;position: absolute;margin-left: 350px;margin-top: 20px;">
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>简介</th>
            </tr>
                <tr style="height: 50px">
                    <td><a href="book?bid={{ request.session.bid }}">{{ request.session.search_book }}</a></td>
                    <td>{{ request.session.search_author }}</td>
                    <td>{{ request.session.search_introduction }}</td>
                </tr>
        </table>
    </div>
</div>
</body>